<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aktif Hutan</title>
  </head>
  <body>
    <form action="/" method="post">
      <input type="text" name="nama" placeholder="Nama komunitas" />
      <input type="email" name="email" placeholder="Email" />
      <input type="password" name="password" placeholder="Password" />
      <input type="text" name="deskripsi" placeholder="Deskripsi komunitas" />
      <input type="text" name="provinsi" placeholder="Provinsi" />
      <input type="text" name="kabupaten" placeholder="Kabupaten" />
      <button>kirim mekmek</button>
    </form>
    <a href="/login">jingg</a>
  </body>
</html>
