<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kegiatan</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>
    <div class="form-container">
      <div class="container">
        <!-- Tambahkan tombol pilihan di sini -->
        <div class="profile-buttons">
          <button class="page-button">Page 1</button>
          <button class="page-button">Page 2</button>
        </div>
        <!-- Akhir tambahan tombol pilihan -->

        <!-- Tambahkan teks headline dan isi teks -->
        <h1>Lestarikan Hutan Banyuwangi</h1>
        <h4>Komunitas Hutan BWI</h4>
        <p>
          "Lestarikan hutan Banyuwangi untuk mewujudkan masa depan yang
          berkelanjutan, menjaga keanekaragaman hayati, dan melestarikan
          keindahan alam yang menjadi aset berharga bagi generasi mendatang.
        </p>
        <!-- Akhir tambahan teks -->
      </div>
    </div>
  </body>
</html>
