<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aktif hutan</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="w-[1920px] h-[1080px] relative bg-white">
      <div
        class="w-[1980px] h-[136px] left-0 top-0 absolute bg-white shadow"
      ></div>
      <img
        class="w-[76px] h-[69px] left-[61px] top-[34px] absolute"
        src="https://via.placeholder.com/76x69"
      />
      <a
        href="/homepage"
        class="left-[188px] top-[56px] absolute text-center text-gray-500 text-xl font-bold font-['Montserrat'] leading-normal"
      >
        Beranda
      </a>
      <a
        href="/komunitas"
        class="left-[312px] top-[56px] absolute text-center text-gray-500 text-xl font-bold font-['Montserrat'] leading-normal"
      >
        Komunitas
      </a>
      <div
        class="left-[1808px] top-[56px] absolute text-center text-gray-500 text-xl font-bold font-['Montserrat'] leading-normal text-green-800"
      >
        Akun
      </div>
      <div
        class="w-[1479px] h-[777px] left-[220px] top-[207px] absolute bg-white rounded-[23px] shadow"
      ></div>
      <div
        class="w-[125px] h-[29px] left-[988px] top-[227px] absolute bg-emerald-500 rounded-[5px]"
      ></div>
      <a
        href="/profile"
        class="w-[115px] left-[811px] top-[229px] absolute text-center text-neutral-700 text-xl font-bold font-['Montserrat'] leading-normal"
      >
        Profil
      </a>
      <a
        href="/kegiatan"
        class="w-[115px] left-[993px] top-[229px] absolute text-center text-white text-xl font-bold font-['Montserrat'] leading-normal"
      >
        Kegiatan
      </a>
      <div class="w-[1358px] h-[168px] left-[281px] top-[304px] absolute">
        <div
          class="w-[1358px] h-[168px] left-0 top-0 absolute bg-gray-50 rounded"
        ></div>
        <div
          class="left-[56.46px] top-[14.34px] absolute text-center text-neutral-600 text-[26.99px] font-bold font-['Montserrat'] leading-10"
        >
          Komunitaas Hutan Sumatera
        </div>
        <div
          class="left-[56.46px] top-[62.42px] absolute text-center text-neutral-600 text-[26.99px] font-semibold font-['Montserrat'] leading-10"
        >
          Penanaman 1000 pohon di kawasan Sumatera Barat
        </div>
        <div
          class="left-[56.46px] top-[110.50px] absolute text-center text-neutral-600 text-[16.87px] font-normal font-['Montserrat'] leading-relaxed"
        >
          Melakukan penamanan saat ini ...
        </div>
      </div>
      <div class="w-[1358px] h-[168px] left-[281px] top-[492px] absolute">
        <div
          class="w-[1358px] h-[168px] left-0 top-0 absolute bg-gray-50 rounded"
        ></div>
        <div
          class="left-[56.46px] top-[14.34px] absolute text-center text-neutral-600 text-[26.99px] font-bold font-['Montserrat'] leading-10"
        >
          Komunitaas Hutan Sumatera
        </div>
        <div
          class="left-[56.46px] top-[62.42px] absolute text-center text-neutral-600 text-[26.99px] font-semibold font-['Montserrat'] leading-10"
        >
          Penanaman 1000 pohon di kawasan Sumatera Barat
        </div>
        <div
          class="left-[56.46px] top-[110.50px] absolute text-center text-neutral-600 text-[16.87px] font-normal font-['Montserrat'] leading-relaxed"
        >
          Melakukan penamanan saat ini ...
        </div>
      </div>
    </div>
  </body>
</html>
