<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aktif Hutan</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <nav class="h-[136px] bg-white shadow-lg">
      <div class="flex items-center relative top-7">
        <img class="relative left-[61px]" src="/public/Logo.png" alt="" />
        <a
          class="relative text-gray-500 text-xl font-bold font-['Montserrat'] leading-normal left-[90px]"
          href="/"
          >Beranda</a
        >
        <a
          class="relative text-green-800 text-xl font-bold font-['Montserrat'] leading-normal left-[130px]"
          href="/komunitas"
          >Komunitas</a
        >
        <a
          class="relative text-gray-500 text-xl font-bold font-['Montserrat'] leading-normal left-[1550px]"
          href="/profile"
          >Akun</a
        >
      </div>
    </nav>
    <div class="list mt-10 mb-10 flex flex-col justify-center items-center">
      <div class="box w-[1534px] h-[280px] relative">
        <div
          class="w-[1534px] h-[280px] left-0 top-0 absolute bg-gray-50 rounded-[5px]"
        >
          <p
            class="left-[29px] top-[17px] absolute text-center text-neutral-600 text-[32px] font-bold font-['Montserrat'] leading-[48px]"
          >
            Komunitaas Hutan Sumatera
          </p>
          <p
            class="left-[29px] top-[74px] absolute text-center text-neutral-600 text-[28px] font-semibold font-['Montserrat'] leading-[48px]"
          >
            Penanaman 1000 pohon di kawasan Sumatera Barat
          </p>
          <p
            class="left-[29px] top-[131px] absolute text-center text-neutral-600 text-xl font-normal font-['Montserrat'] leading-[30px]"
          >
            Melakukan penamanan saat ini ...
          </p>
        </div>
      </div>
    </div>
    <footer class="h-[300px] bg-green-800 flex items-center justify-center">
      <div class="isi flex">
        <img
          class="w-[150px] h-[150px] relative right-[300px]"
          src="/public/LogoPutih.png"
          alt=""
        />
        <div
          class="sosmed flex flex-col justify-center items-center relative right-[100px]"
        >
          <p class="text-white text-[30px] font-bold font-['Montserrat']">
            Sosial Media
          </p>
          <a
            class="text-stone-300 text-xl font-semibold font-['Montserrat']"
            href="/"
            >Instagram</a
          >
          <a
            class="text-stone-300 text-xl font-semibold font-['Montserrat']"
            href="/"
            >Facebook</a
          >
        </div>
        <div
          class="kontak flex flex-col justify-center items-center relative left-[300px] top-[8px]"
        >
          <p class="text-white text-[30px] font-bold font-['Montserrat']">
            Kontak
          </p>
          <p
            class="text-stone-300 text-[32px] font-semibold font-['Montserrat']"
          >
            Email :
          </p>
          <a
            class="text-stone-300 text-xl font-semibold font-['Montserrat']"
            href="email.com"
            >AktifHutan@gmail.com</a
          >
        </div>
      </div>
      <p class="text-stone-300 relative top-[130px] right-[300px]">
        © Copyright Aktif Hutan
      </p>
    </footer>
  </body>
</html>
